{
    "all_pipelines":
    {
      "PROCESSING_ENVIRONMENT": "slurm", 
      "ARRAY_INDEX": "SLURM_ARRAY_TASK_ID",
      "BIDSAPP_THREADS": "10",
      "BIDSAPP_MEMORY": "50000",
      "ANALYSIS_LEVEL": "participant",
      "PROC_DIR": "<PWD>",
      "CREDENTIALS": "<PROC_DIR>/config/credentials/credentials.json",
      "CONFIG": "<PROC_DIR>/config/panpipeconfig.json",
      "PIPELINE_DIR": "<PROC_DIR>/pan_output_<DATE_LABEL>",
      "FSLICENSE": "<PROC_DIR>/config/license.txt",
      "PARTICIPANTS_FILE": "<PROC_DIR>/data/tsv/participants.tsv",
      "BIDS_DIR": "<PROC_DIR>/data/BIDSNEW",
      "SESSIONS_FILE": "<PROC_DIR>/config/sessions.tsv",
      "QSIPREP_CONTAINER": "/xdisk/nkchen/chidiugonna/panxnat_pipelines/singimages/qsiprep-0.15.2.sif",
      "NEURO_CONTAINER": "/xdisk/nkchen/chidiugonna/panxnat_pipelines/singimages/nklab-neuroproc-v0.8.sif",
      "XNATDOWNLOAD_CONTAINER": "/xdisk/nkchen/chidiugonna/panxnat_pipelines/singimages/xnatdownload.sif",
      "XNAT_HOST": "https://myxnat.edu",
      "TEMPLATEFLOW_HOME": "<PROC_DIR>/TemplateFlow",
      "SLURM_SCRIPT_DIR": "<PIPELINE_DIR>/batch_run",
      "SLURM_HEADER_DIR": "<PROC_DIR>/batch_scripts/headers",
      "SLURM_TEMPLATE_DIR" : "<PROC_DIR>/batch_scripts",
      "SLURM_PARTICIPANT_TEMPLATE": "<SLURM_TEMPLATE_DIR>/participant_template.pbs",
      "SLURM GROUP_TEMPLATE": "<SLURM_TEMPLATE_DIR>/group_template.pbs",
      "SLURM_CPU_HEADER": "<SLURM_HEADER_DIR>/slurm_cpu.pbs",
      "SLURM_GPU_HEADER": "<SLURM_HEADER_DIR>/slurm_gpu.pbs"
    },
    "basil_voxelcalib":
    {
      "PIPELINE_CLASS": "basil_panpipeline",
      "ANALYSIS_NODE": "cpu",
      "ANALYSIS_LEVEL": "participant",
      "ASLCONTEXT" : {
        "acq-prod" : "control:label",
        "acq-pcasl" : "label:control"
      },
      "CMETHOD_OPTS" : {
        "acq-prod" : "voxel",
        "acq-pcasl" : "voxel"
      }
    }
    "qsiprep_panpipeline":
    {
      "ANALYSIS_LEVEL": "participant",
      "ANALYSIS_NODE": "gpu",
      "EDDY_CONFIG": "<PROC_DIR>/config/eddy_params.json",
      "OUTPUT_RES": "2.0",
      "NIPYPE_CONFIG": {
           "execution": { 
             "hash_method": "timestamp",
             "stop_on_first_crash": "true"
          },
             "logging" : {
             "workflow_level": "DEBUG"
           }
        } 
    },
    "tensor_panpipeline":
    {
      "ANALYSIS_NODE": "cpu",
      "ANALYSIS_LEVEL": "participant",
      "DEPENDENCY" : "qsiprep_panpipeline",
      "QSIPREP_OUTPUT_DIR" : "<PIPELINE_DIR>/<DEPENDENCY>/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/qsiprep_panpipeline_wf/qsiprep_node/qsiprep"
    },
    "qsiprep_0-18-1_panpipeline":
    {
      "PIPELINE_CLASS": "qsiprep_panpipeline",
      "QSIPREP_CONTAINER": "/xdisk/nkchen/chidiugonna/panxnat_pipelines/singimages/qsiprep-0.18.1.sif",
      "ANALYSIS_LEVEL": "participant",
      "ANALYSIS_NODE": "gpu",
      "EDDY_CONFIG": "<PROC_DIR>/config/eddy_params.json",
      "OUTPUT_RES": "2.0",
      "NIPYPE_CONFIG": {
           "execution": { 
             "hash_method": "timestamp",
             "stop_on_first_crash": "true"
          },
             "logging" : {
             "workflow_level": "DEBUG"
           }
        } 
    },
    "noddi_0-18-1_panpipeline":
    {
      "PIPELINE_CLASS": "noddi_panpipeline",
      "DEPENDENCY" : "qsiprep_0-18-1_panpipeline",
      "ANALYSIS_NODE": "cpu",
      "ANALYSIS_LEVEL": "participant",
      "RECON_TYPE": "amico_noddi",
      "QSIPREP_OUTPUT_DIR" : "<PIPELINE_DIR>/<DEPENDENCY>/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/qsiprep_panpipeline_wf/qsiprep_node/qsiprep",
      "OUTPUT_RES": "2.0"
    }
  
}
