[build-system]
requires = ["hatchling","hatch-vcs"]
build-backend = "hatchling.build"

[tool.hatch]
version.source = "vcs"
version.raw-options.local_scheme = "no-local-version"
build.hooks.vcs.version-file = "src/panpipelines/version.py"

[project]
name = "panpipelines"
dynamic = ["version"]
authors = [
  { name="Chidi Ugonna", email="chidiugonna@arizona.edu" },
]
description = "MRI Processing Pipelines for PAN"
license = { file = "LICENSE" }
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

dependencies = [
  "nipype>1.7.1",
  "nibabel>4.0.2",
  "pybids>0.15.6",
  "numpy>1.21.6",
  "pandas>1.5.2",
  "nitransforms>23.0.0"
]

[project.urls]
"Homepage" = "https://github.com/MRIresearch/PANpipelines"
"Bug Tracker" = "https://github.com/MRIresearch/PANpipelines/issues"