{
    "all_pipelines":
    {
      "SESSION_LABEL": ["ALL_SESSIONS"],
      "FORCE_BIDS_DOWNLOAD" : "Y",
      "PROCESSING_ENVIRONMENT": "slurm", 
      "ARRAY_INDEX": "SLURM_ARRAY_TASK_ID",
      "ENV_PROCS": "SLURM_CPUS_ON_NODE",
      "BIDSAPP_THREADS": "10",
      "BIDSAPP_MEMORY": "50000",
      "ANALYSIS_LEVEL": "participant",
      "ANALYSIS_NODE": "cpu",
      "PROC_DIR": "<PWD>",
      "CREDENTIALS": "<PROC_DIR>/config/credentials/credentials.json",
      "CONFIG": "<PROC_DIR>/config/panpipeconfig.json",
      "PIPELINE_DIR": "<PROC_DIR>/pan_output",
      "FSLICENSE": "<PROC_DIR>/config/license.txt",
      "DATA_DIR": "/xdisk/ryant/chidiugonna/PAN250_Data",
      "PARTICIPANTS_FILE": "<DATA_DIR>/tsv/participants.tsv",
      "BIDS_DIR": "<DATA_DIR>/BIDS",
      "LOCK_DIR": "<DATA_DIR>/datalocks",
      "SESSIONS_FILE": "<DATA_DIR>/tsv/sessions.tsv",
      "PAN_CONTAINER": "/groups/ryant/PANapps/panprocminimal-v0.1.sif",
      "NEURO_CONTAINER": "/groups/ryant/PANapps/panprocminimal-v0.1.sif",
      "CONTAINER": "<PAN_CONTAINER>",
      "CONTAINER_RUN_OPTIONS": "singularity run --cleanenv --no-home",
      "CONTAINER_PRERUN" : "--home", 
      "QSIPREP_CONTAINER": "/groups/ryant/PANapps/qsiprep-0.19.0.sif",
      "QSIPREP_CONTAINER_RUN_OPTIONS": "singularity exec --cleanenv --no-home",
      "QSIPREP_CONTAINER_PRERUN" : "/usr/local/miniconda/bin/qsiprep", 
      "FMRIPREP_CONTAINER": "/groups/ryant/PANapps/fmriprep-23.2.0.sif",
      "FMRIPREP_CONTAINER_RUN_OPTIONS": "singularity run --cleanenv --no-home -B <FMRIWORK>:/work -B <FMRIOUTPUT>:/out",
      "FMRIPREP_CONTAINER_PRERUN" : " ",
      "ASLPREP_CONTAINER": "/groups/ryant/PANapps/aslprep_0.5.1.sif",
      "ASLPREP_CONTAINER_RUN_OPTIONS": "<CONTAINER_RUN_OPTIONS>",
      "ASLPREP_CONTAINER_PRERUN" : " ",
      "LST_CONTAINER": "/groups/ryant/PANapps/nklab-spmjobman.sif",
      "LST_CONTAINER_RUN_OPTIONS": "singularity run --cleanenv",
      "LST_CONTAINER_PRERUN" : "--homedir=<LST_OUTPUT_DIR>",
      "ANTS_CONTAINER": "<PAN_CONTAINER>",
      "BASIL_CONTAINER": "<PAN_CONTAINER>",
      "FREESURFER_CONTAINER": "<PAN_CONTAINER>",
      "FSL_CONTAINER": "<PAN_CONTAINER>",
      "MRTRIX_CONTAINER": "<PAN_CONTAINER>",
      "WB_CONTAINER": "<PAN_CONTAINER>",
      "XNAT_HOST": "https://aacazxnat.arizona.edu",
      "TEMPLATEFLOW_HOME": "<PROC_DIR>/TemplateFlow",
      "SLURM_SCRIPT_DIR": "<PIPELINE_DIR>/<PIPELINE>/0_slurm_submit",
      "SLURM_DEPENDENCY": "afterany",
      "SLURM_HEADER_DIR": "<PROC_DIR>/batch_scripts/headers",
      "SLURM_TEMPLATE_DIR": "<PROC_DIR>/batch_scripts",
      "SLURM_PARTICIPANT_TEMPLATE": "<SLURM_TEMPLATE_DIR>/participant_template.pbs",
      "SLURM_GROUP_TEMPLATE": "<SLURM_TEMPLATE_DIR>/group_template.pbs",
      "SLURM_CPU_HEADER": "<SLURM_HEADER_DIR>/slurm_cpu_highpri.pbs",
      "SLURM_GPU_HEADER": "<SLURM_HEADER_DIR>/slurm_gpu.pbs"
    },
    "fmriprep_panpipeline":
    {
      "SLURM_CPU_HEADER": "<SLURM_HEADER_DIR>/slurm_cpu_highpri_long.pbs",
      "USE_MEGRE_FMAP": ["HML0096_SESSION002","HML0097"]
    },
    "qsiprep_panpipeline":
    {
      "EDDY_CONFIG": "<PROC_DIR>/config/pan250_eddyparams.json",
      "OUTPUT_RES": "2.0"
    },
    "noddi_panpipeline":
    {
      "DEPENDENCY": "qsiprep_panpipeline",
      "RECON_TYPE": "amico_noddi",
      "QSIPREP_OUTPUT_DIR" : "<DEPENDENCY_DIR>/qsiprep_node/qsiprep",
      "OUTPUT_RES": "2.0"
    },
    "tensor_panpipeline":
    {
      "DEPENDENCY": "qsiprep_panpipeline",
      "SLURM_CPU_HEADER": "<SLURM_HEADER_DIR>/slurm_cpu_highpri_small.pbs",
      "QSIPREP_OUTPUT_DIR" : "<DEPENDENCY_DIR>/qsiprep_node/qsiprep"
    },
    "noddimeasures_xtract_2mm":
    {
      "PIPELINE_CLASS": "roiextract_panpipeline",
      "DEPENDENCY": ["noddi_panpipeline","qsiprep_panpipeline"],
      "SLURM_CPU_HEADER": "<SLURM_HEADER_DIR>/slurm_cpu_highpri_tiny.pbs",
      "ATLAS_NAME": "xtract",
      "ATLAS_FILE": "<PROC_DIR>/atlas/XTRACT/MNI152NLin6Asym/tpl-MNI152NLin6Asym_res-02_atlas-XTRACT_dseg.nii.gz",
      "ATLAS_INDEX": "<PROC_DIR>/atlas/XTRACT/res-02_atlas-XTRACT_dseg.tsv",
      "ATLAS_TRANSFORM_MAT": ["from-MNI152NLin6Asym_to-MNI152NLin2009cAsym_res-2"],
      "MEASURES_TEMPLATE": "<DEPENDENCY1_DIR>/noddi_node/qsirecon/sub-<PARTICIPANT_LABEL>/ses-*/dwi/*_desc-preproc_desc-*.nii.gz",
      "MEASURES_TRANSFORM_MAT": ["<DEPENDENCY2_DIR>/qsiprep_node/qsiprep/sub-<PARTICIPANT_LABEL>/anat/sub-<PARTICIPANT_LABEL>_from-T1w_to-MNI152NLin2009cAsym_mode-image_xfm.h5"],
      "MEASURES_TRANSFORM_REF": "MNI152NLin2009cAsym_res-2",
      "ATLAS_TRANSFORM_REF": "MNI152NLin2009cAsym_res-2"
    },
    "tensormeasures_xtract_2mm":
    {
      "PIPELINE_CLASS": "roiextract_panpipeline",
      "DEPENDENCY": ["tensor_panpipeline","qsiprep_panpipeline"],
      "SLURM_CPU_HEADER": "<SLURM_HEADER_DIR>/slurm_cpu_highpri_tiny.pbs",
      "ATLAS_NAME": "xtract",
      "ATLAS_FILE": "<PROC_DIR>/atlas/XTRACT/MNI152NLin6Asym/tpl-MNI152NLin6Asym_res-02_atlas-XTRACT_dseg.nii.gz",
      "ATLAS_INDEX": "<PROC_DIR>/atlas/XTRACT/res-02_atlas-XTRACT_dseg.tsv",
      "ATLAS_TRANSFORM_MAT": ["from-MNI152NLin6Asym_to-MNI152NLin2009cAsym_res-2"],
      "MEASURES_TEMPLATE": "<DEPENDENCY1_DIR>/tensor_node/tensor_metrics/sub-<PARTICIPANT_LABEL>*_desc-preproc_desc-*.nii.gz",
      "MEASURES_TRANSFORM_MAT": ["<DEPENDENCY2_DIR>/qsiprep_node/qsiprep/sub-<PARTICIPANT_LABEL>/anat/sub-<PARTICIPANT_LABEL>_from-T1w_to-MNI152NLin2009cAsym_mode-image_xfm.h5"],
      "MEASURES_TRANSFORM_REF": "MNI152NLin2009cAsym_res-2",
      "ATLAS_TRANSFORM_REF": "MNI152NLin2009cAsym_res-2"
    },
    "basil_voxel_sdcflow":
    {
      "PIPELINE_CLASS": "basil_panpipeline",
      "SDCFLOWS_CONTAINER_TO_USE": "SDCFLOWS_CONTAINER",
      "SLURM_CPU_HEADER": "<SLURM_HEADER_DIR>/slurm_cpu_highpri_long.pbs",
      "SDCFLOWS_CONTAINER": "/groups/ryant/PANapps/fmriprep-23.2.0.sif",
      "SDCFLOWS_CONTAINER_RUN_OPTIONS": "singularity exec ",
      "SDCFLOWS_CONTAINER_PRERUN" : " ",
      "ANALYSIS_NODE": "cpu",
      "FIELDMAP_TYPE" : {
          "acq-prod" : "sdcflows_preproc",
          "acq-pcasl" : "sdcflows_preproc",
          "acq-plusM0" : "sdcflows_preproc"
      },
      "SDCFLOWS_FIELDMAP_DIR" : {
           "acq-prod" : "<WORKFLOW_DIR>/sdcflows/fmap",
           "acq-pcasl" : "<WORKFLOW_DIR>/sdcflows/fmap",
           "acq-plusM0" : "<WORKFLOW_DIR>/sdcflows/fmap"
      },
      "ASL_ECHOSPACING" : {
           "acq-prod" : "0.0005",
           "acq-pcasl" : "0.0002371",
           "acq-plusM0" : "0.0005"
      },
      "ASLCONTEXT" : {
        "acq-prod" : "control:label",
        "acq-pcasl" : "control:label",
        "acq-plusM0" : "m0scan:control:label"
      },
      "CMETHOD_OPTS" : {
        "acq-prod" : "voxel",
        "acq-pcasl" : "voxel",
        "acq-plusM0" : "voxel"
      }
    },
    "basil_voxel_sdcflow_verylong":
    {
      "PIPELINE_CLASS": "basil_panpipeline",
      "SDCFLOWS_CONTAINER_TO_USE": "SDCFLOWS_CONTAINER",
      "SLURM_CPU_HEADER": "<SLURM_HEADER_DIR>/slurm_cpu_highpri_verylong.pbs",
      "SDCFLOWS_CONTAINER": "/groups/ryant/PANapps/fmriprep-23.2.0.sif",
      "SDCFLOWS_CONTAINER_RUN_OPTIONS": "singularity exec ",
      "SDCFLOWS_CONTAINER_PRERUN" : " ",
      "ANALYSIS_NODE": "cpu",
      "FIELDMAP_TYPE" : {
          "acq-prod" : "sdcflows_preproc",
          "acq-pcasl" : "sdcflows_preproc",
          "acq-plusM0" : "sdcflows_preproc"
      },
      "SDCFLOWS_FIELDMAP_DIR" : {
           "acq-prod" : "<WORKFLOW_DIR>/sdcflows/fmap",
           "acq-pcasl" : "<WORKFLOW_DIR>/sdcflows/fmap",
           "acq-plusM0" : "<WORKFLOW_DIR>/sdcflows/fmap"
      },
      "ASL_ECHOSPACING" : {
           "acq-prod" : "0.0005",
           "acq-pcasl" : "0.0002371",
           "acq-plusM0" : "0.0005"
      },
      "ASLCONTEXT" : {
        "acq-prod" : "control:label",
        "acq-pcasl" : "control:label",
        "acq-plusM0" : "m0scan:control:label"
      },
      "CMETHOD_OPTS" : {
        "acq-prod" : "voxel",
        "acq-pcasl" : "voxel",
        "acq-plusM0" : "voxel"
      }
    },
     "basilmeasures_tissue":
    {
      "PIPELINE_CLASS": "roiextract_panpipeline",
      "DEPENDENCY": "basil_voxel_sdcflow",
      "SLURM_CPU_HEADER": "<SLURM_HEADER_DIR>/slurm_cpu_highpri_small.pbs",
      "ATLAS_NAME": "brainseg_t1",
      "NEWATLAS_TEMPLATE": ["<DEPENDENCY1_DIR>/fslanat_node/<PARTICIPANT_LABEL>_struct.anat/T1_fast_pve_0.nii.gz","<DEPENDENCY1_DIR>/fslanat_node/<PARTICIPANT_LABEL>_struct.anat/T1_fast_pve_1.nii.gz","<DEPENDENCY1_DIR>/fslanat_node/<PARTICIPANT_LABEL>_struct.anat/T1_fast_pve_2.nii.gz"],
      "NEWATLAS_INDEX": [ "csf", "gm", "wm"],
      "NEWATLAS_TRANSFORM_REF": "MNI152NLin2009cAsym_res-2",
      "NEWATLAS_TRANSFORM_MAT": [["<DEPENDENCY1_DIR>/fslanat_node/<PARTICIPANT_LABEL>_struct.anat/T1_to_MNI_nonlin_field.nii.gz:FSL:<DEPENDENCY1_DIR>/fslanat_node/<PARTICIPANT_LABEL>_struct.anat/T1.nii.gz","from-MNI152NLin6Asym_to-MNI152NLin2009cAsym"],
      ["<DEPENDENCY1_DIR>/fslanat_node/<PARTICIPANT_LABEL>_struct.anat/T1_to_MNI_nonlin_field.nii.gz:FSL:<DEPENDENCY1_DIR>/fslanat_node/<PARTICIPANT_LABEL>_struct.anat/T1.nii.gz","from-MNI152NLin6Asym_to-MNI152NLin2009cAsym"],
      ["<DEPENDENCY1_DIR>/fslanat_node/<PARTICIPANT_LABEL>_struct.anat/T1_to_MNI_nonlin_field.nii.gz:FSL:<DEPENDENCY1_DIR>/fslanat_node/<PARTICIPANT_LABEL>_struct.anat/T1.nii.gz","from-MNI152NLin6Asym_to-MNI152NLin2009cAsym"]],
      "MEASURES_TEMPLATE": "<DEPENDENCY1_DIR>/basil_node/basiloutput/std_space/*calib*.nii.gz",
      "MEASURES_TRANSFORM_MAT": ["from-MNI152NLin6Asym_to-MNI152NLin2009cAsym_res-2"],
      "MEASURES_TRANSFORM_REF": "MNI152NLin2009cAsym_res-2"
    },
    "basilmeasures_arterial":
    {
      "PIPELINE_CLASS": "roiextract_panpipeline",
      "DEPENDENCY": "basil_voxel_sdcflow",
      "SLURM_CPU_HEADER": "<SLURM_HEADER_DIR>/slurm_cpu_highpri_tiny.pbs",
      "ATLAS_NAME": "arterial",
      "ATLAS_FILE": "<PROC_DIR>/atlas/Arterial/MNI152NLin6Asym/tpl-MNI152NLin6Asym_res-02_atlas-Arterial_dseg.nii.gz",
      "ATLAS_INDEX": "<PROC_DIR>/atlas/Arterial/res-02_atlas-Arterial_dseg.tsv",
      "ATLAS_TRANSFORM_MAT": ["from-MNI152NLin6Asym_to-MNI152NLin2009cAsym_res-2"],
      "ATLAS_TRANSFORM_REF": "MNI152NLin2009cAsym_res-2",
      "MEASURES_TEMPLATE": "<DEPENDENCY1_DIR>/basil_node/basiloutput/std_space/*calib*.nii.gz",
      "MEASURES_TRANSFORM_MAT": ["from-MNI152NLin6Asym_to-MNI152NLin2009cAsym_res-2"],
      "MEASURES_TRANSFORM_REF": "MNI152NLin2009cAsym_res-2"
    }

}
