{
    "all_pipelines":
    {
      "PWD": "/xdisk/nkchen/chidiugonna/PANpipelines/deployment_development",
      "PKG_DIR": "/xdisk/nkchen/chidiugonna/PANpipelines/src",
      "PROCESSING_ENVIRONMENT": "slurm", 
      "ARRAY_INDEX": "SLURM_ARRAY_TASK_ID",
      "ENV_PROCS": "SLURM_CPUS_ON_NODE",
      "BIDSAPP_THREADS": "10",
      "BIDSAPP_MEMORY": "50000",
      "ANALYSIS_LEVEL": "participant",
      "PROC_DIR": "<PWD>",
      "CREDENTIALS": "<PROC_DIR>/config/credentials/credentials.json",
      "CONFIG": "<PROC_DIR>/config/panpipeconfig.json",
      "PIPELINE_DIR": "<PROC_DIR>/pan_output_<DATE_LABEL>",
      "FSLICENSE": "<PROC_DIR>/config/license.txt",
      "PARTICIPANTS_FILE": "<PROC_DIR>/data/tsv/participants.tsv",
      "BIDS_DIR": "<PROC_DIR>/data/BIDSNEW",
      "SESSIONS_FILE": "<PROC_DIR>/config/sessions.tsv",
      "QSIPREP_CONTAINER": "/xdisk/nkchen/chidiugonna/panxnat_pipelines/singimages/qsiprep-0.15.2.sif",
      "NEURO_CONTAINER": "/xdisk/nkchen/chidiugonna/panxnat_pipelines/singimages/nklab-neuroproc-v0.8.sif",
      "XNATDOWNLOAD_CONTAINER": "/xdisk/nkchen/chidiugonna/panxnat_pipelines/singimages/xnatdownload.sif",
      "XNAT_HOST": "https://aacazxnat.arizona.edu",
      "TEMPLATEFLOW_HOME": "<PROC_DIR>/TemplateFlow",
      "SLURM_SCRIPT_DIR": "<PIPELINE_DIR>/batch_run",
      "SLURM_HEADER_DIR": "<PROC_DIR>/batch_scripts/headers",
      "SLURM_TEMPLATE_DIR" : "<PROC_DIR>/batch_scripts",
      "SLURM_PARTICIPANT_TEMPLATE": "<SLURM_TEMPLATE_DIR>/participant_template.pbs",
      "SLURM GROUP_TEMPLATE": "<SLURM_TEMPLATE_DIR>/group_template.pbs",
      "SLURM_CPU_HEADER": "<SLURM_HEADER_DIR>/slurm_cpu_highpri.pbs",
      "SLURM_GPU_HEADER": "<SLURM_HEADER_DIR>/slurm_gpu.pbs"
    },
    "freesurfer_panpipeline":
    {
      "ANALYSIS_LEVEL": "participant",
      "PROCESSING_ENVIRONMENT": "slurm", 
      "FREESURFER_CONTAINER": "/xdisk/nkchen/chidiugonna/panxnat_pipelines/singimages/nklab-neuroproc-v0.8.sif",
      "FREEBASH_SCRIPT": "<PROC_DIR>/config/freebash.sh",
      "T2W_LABEL": "acq-hippo",
      "HIPPO_LABEL": "T2Hippo"
    },
    "textmeasures_freesurfer":
    {
      "ANALYSIS_LEVEL": "participant",
      "PROCESSING_ENVIRONMENT": "slurm", 
      "PIPELINE_CLASS": "textmeasures_panpipeline",
      "PIPELINE_THREADS": "1",
      "DEPENDENCY": "freesurfer_panpipeline",
      "MEASURES_TEMPLATE": ["<PIPELINE_DIR>/<DEPENDENCY>/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/<DEPENDENCY>_wf/freesurfer_node/subjects_dir/sub-<PARTICIPANT_LABEL>/stats/hipposubfields*.stats","<PIPELINE_DIR>/<DEPENDENCY>/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/<DEPENDENCY>_wf/freesurfer_node/subjects_dir/sub-<PARTICIPANT_LABEL>/stats/*aparc.a2009s.stats","<PIPELINE_DIR>/<DEPENDENCY>/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/<DEPENDENCY>_wf/freesurfer_node/subjects_dir/sub-<PARTICIPANT_LABEL>/stats/*.aparc.stats","<PIPELINE_DIR>/<DEPENDENCY>/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/<DEPENDENCY>_wf/freesurfer_node/subjects_dir/sub-<PARTICIPANT_LABEL>/stats/aseg.stats"]
    },
    "qsiprep_panpipeline":
    {
      "ANALYSIS_LEVEL": "participant",
      "PROCESSING_ENVIRONMENT": "slurm", 
      "ANALYSIS_NODE": "gpu",
      "SLURM_GPU_HEADER": "<SLURM_HEADER_DIR>/slurm_gpu_windfall.pbs",
      "EDDY_CONFIG": "<PROC_DIR>/config/eddy_params.json",
      "OUTPUT_RES": "2.0",
      "NIPYPE_CONFIG": {
           "execution": { 
             "hash_method": "timestamp",
             "stop_on_first_crash": "true"
          },
             "logging" : {
             "workflow_level": "DEBUG"
           }
        } 
    },
    "tensor_panpipeline":
    {
      "ANALYSIS_NODE": "cpu",
      "ANALYSIS_LEVEL": "participant",
      "PROCESSING_ENVIRONMENT": "slurm", 
      "DEPENDENCY": "qsiprep_panpipeline",
      "QSIPREP_OUTPUT_DIR" : "<PIPELINE_DIR>/<DEPENDENCY>/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/<DEPENDENCY>_wf/qsiprep_node/qsiprep"
    },
    "tensormeasures_xtract":
    {
      "ANALYSIS_LEVEL": "participant",
      "PROCESSING_ENVIRONMENT": "slurm", 
      "PIPELINE_CLASS": "volmeasures_panpipeline",
      "PIPELINE_THREADS": "1",
      "DEPENDENCY": "tensor_panpipeline",
      "ATLAS_NAME": "xtract",
      "ATLAS_FILE": "<PROC_DIR>/atlas/XTRACT/MNI152NLinAsym/xtract-tract-atlases-maxprob5-1mm.nii.gz",
      "ATLAS_INDEX": "<PROC_DIR>/atlas/XTRACT/XTRACT_index.txt",
      "ATLAS_TRANSFORM_MAT": ["from-MNI152NLin6Asym_to-MNI152NLin2009cAsym_res-1"],
      "ATLAS_TRANSFORM_REF": "MNI152NLin2009cAsym_res-1",
      "MEASURES_TEMPLATE": "<PIPELINE_DIR>/<DEPENDENCY>/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/<DEPENDENCY>_wf/tensor_node/tensor_metrics/sub-<PARTICIPANT_LABEL>*_desc-preproc_desc-*.nii.gz",
      "MEASURES_TRANSFORM_MAT": ["<PIPELINE_DIR>/qsiprep_panpipeline/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/qsiprep_panpipeline_wf/qsiprep_node/qsiprep/sub-<PARTICIPANT_LABEL>/anat/sub-<PARTICIPANT_LABEL>_from-T1w_to-MNI152NLin2009cAsym_mode-image_xfm.h5"],
      "MEASURES_TRANSFORM_REF": "MNI152NLin2009cAsym_res-1"
    },
    "noddi_panpipeline":
    {
      "ANALYSIS_NODE": "cpu",
      "ANALYSIS_LEVEL": "participant",
      "PROCESSING_ENVIRONMENT": "slurm", 
      "DEPENDENCY": "qsiprep_panpipeline",
      "RECON_TYPE": "amico_noddi",
      "QSIPREP_OUTPUT_DIR" : "<PIPELINE_DIR>/<DEPENDENCY>/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/<DEPENDENCY>_wf/qsiprep_node/qsiprep",
      "OUTPUT_RES": "2.0"
    },
    "noddimeasures_xtract":
    {
      "ANALYSIS_LEVEL": "participant",
      "PROCESSING_ENVIRONMENT": "slurm", 
      "PIPELINE_CLASS": "volmeasures_panpipeline",
      "PIPELINE_THREADS": "1",
      "DEPENDENCY": "noddi_panpipeline",
      "ATLAS_NAME": "xtract",
      "ATLAS_FILE": "<PROC_DIR>/atlas/XTRACT/MNI152NLinAsym/xtract-tract-atlases-maxprob5-1mm.nii.gz",
      "ATLAS_INDEX": "<PROC_DIR>/atlas/XTRACT/XTRACT_index.txt",
      "ATLAS_TRANSFORM_MAT": ["from-MNI152NLin6Asym_to-MNI152NLin2009cAsym_res-1"],
      "ATLAS_TRANSFORM_REF": "MNI152NLin2009cAsym_res-1",
      "MEASURES_TEMPLATE": "<PIPELINE_DIR>/<DEPENDENCY>/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/noddi_panpipeline_wf/noddi_node/qsirecon/sub-<PARTICIPANT_LABEL>/ses-*/dwi/*_desc-preproc_desc-*.nii.gz",
      "MEASURES_TRANSFORM_MAT": ["<PIPELINE_DIR>/qsiprep_panpipeline/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/qsiprep_panpipeline_wf/qsiprep_node/qsiprep/sub-<PARTICIPANT_LABEL>/anat/sub-<PARTICIPANT_LABEL>_from-T1w_to-MNI152NLin2009cAsym_mode-image_xfm.h5"],
      "MEASURES_TRANSFORM_REF": "MNI152NLin2009cAsym_res-1"
    },
    "fmriprep_panpipeline":
    {
      "ANALYSIS_LEVEL": "participant",
      "PROCESSING_ENVIRONMENT": "slurm", 
      "ANALYSIS_NODE": "cpu",
      "FMRIPREP_CONTAINER": "/xdisk/nkchen/chidiugonna/panxnat_pipelines/singimages/fmriprep-20.2.6.sif"
    },
    "basil_voxelcalib":
    {
      "PIPELINE_CLASS": "basil_panpipeline",
      "PIPELINE_THREADS": "10",
      "ANALYSIS_NODE": "cpu",
      "ANALYSIS_LEVEL": "participant",
      "PROCESSING_ENVIRONMENT": "slurm", 
      "ASLCONTEXT" : {
        "acq-prod" : "control:label",
        "acq-pcasl" : "label:control"
      },
      "CMETHOD_OPTS" : {
        "acq-prod" : "voxel",
        "acq-pcasl" : "voxel"
      }
    },
     "basilcalibmeasures_brainseg_newatlas":
    {
      "ANALYSIS_LEVEL": "participant",
      "PROCESSING_ENVIRONMENT": "slurm", 
      "PIPELINE_CLASS": "volmeasures_panpipeline",
      "PIPELINE_THREADS": "1",
      "REFERENCE_DIR": "<PIPELINE_DIR>",
      "PROCESSING_ENVIRONMENT": "slurm", 
      "DEPENDENCY": "basil_voxelcalib",
      "ATLAS_NAME": "brainseg",
      "NEWATLAS_TEMPLATE": ["<REFERENCE_DIR>/<DEPENDENCY>/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/<DEPENDENCY>_wf/fslanat_node/<PARTICIPANT_LABEL>_struct.anat/T1_fast_pve_0.nii.gz","<REFERENCE_DIR>/<DEPENDENCY>/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/<DEPENDENCY>_wf/fslanat_node/<PARTICIPANT_LABEL>_struct.anat/T1_fast_pve_1.nii.gz","<REFERENCE_DIR>/<DEPENDENCY>/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/<DEPENDENCY>_wf/fslanat_node/<PARTICIPANT_LABEL>_struct.anat/T1_fast_pve_2.nii.gz"],
      "NEWATLAS_INDEX": [ "gm", "wm", "csf"],
      "NEWATLAS_TRANSFORM_REF": "MNI152NLin2009cAsym_res-1",
      "NEWATLAS_TRANSFORM_MAT": [["<REFERENCE_DIR>/<DEPENDENCY>/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/<DEPENDENCY>_wf/fslanat_node/<PARTICIPANT_LABEL>_struct.anat/T1_to_MNI_nonlin_field.nii.gz:FSL:<REFERENCE_DIR>/<DEPENDENCY>/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/<DEPENDENCY>_wf/fslanat_node/<PARTICIPANT_LABEL>_struct.anat/T1.nii.gz","from-MNI152NLin6Asym_to-MNI152NLin2009cAsym_res-1"],
      ["<REFERENCE_DIR>/<DEPENDENCY>/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/<DEPENDENCY>_wf/fslanat_node/<PARTICIPANT_LABEL>_struct.anat/T1_to_MNI_nonlin_field.nii.gz:FSL:<REFERENCE_DIR>/<DEPENDENCY>/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/<DEPENDENCY>_wf/fslanat_node/<PARTICIPANT_LABEL>_struct.anat/T1.nii.gz","from-MNI152NLin6Asym_to-MNI152NLin2009cAsym_res-1"],
      ["<REFERENCE_DIR>/<DEPENDENCY>/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/<DEPENDENCY>_wf/fslanat_node/<PARTICIPANT_LABEL>_struct.anat/T1_to_MNI_nonlin_field.nii.gz:FSL:<REFERENCE_DIR>/<DEPENDENCY>/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/<DEPENDENCY>_wf/fslanat_node/<PARTICIPANT_LABEL>_struct.anat/T1.nii.gz","from-MNI152NLin6Asym_to-MNI152NLin2009cAsym_res-1"]],
      "MEASURES_TEMPLATE": "<REFERENCE_DIR>/<DEPENDENCY>/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/<DEPENDENCY>_wf/basil_node/basiloutput/std_space/*calib*.nii.gz",
      "MEASURES_TRANSFORM_MAT": ["from-MNI152NLin6Asym_to-MNI152NLin2009cAsym_res-1"],
      "MEASURES_TRANSFORM_REF": "MNI152NLin2009cAsym_res-1"
    },
    "basilcalibmeasures_harvardcort":
    {
      "ANALYSIS_LEVEL": "participant",
      "PROCESSING_ENVIRONMENT": "slurm", 
      "PIPELINE_CLASS": "volmeasures_panpipeline",
      "PIPELINE_THREADS": "1",
      "DEPENDENCY": "basil_voxelcalib",
      "ATLAS_NAME": "harvardcort",
      "ATLAS_FILE": "<PROC_DIR>/atlas/HARVCORT/MNI152NLinAsym/HarvardOxford-cort-maxprob-thr25-1mm.nii.gz",
      "ATLAS_INDEX": "<PROC_DIR>/atlas/HARVCORT/HarvardOxford-Cortical_index.txt",
      "ATLAS_TRANSFORM_MAT": ["from-MNI152NLin6Asym_to-MNI152NLin2009cAsym_res-1"],
      "ATLAS_TRANSFORM_REF": "MNI152NLin2009cAsym_res-1",
      "MEASURES_TEMPLATE": "<PIPELINE_DIR>/<DEPENDENCY>/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/basil_voxelcalib_wf/basil_node/basiloutput/std_space/*calib*.nii.gz",
      "MEASURES_TRANSFORM_MAT": ["from-MNI152NLin6Asym_to-MNI152NLin2009cAsym_res-1"],
      "MEASURES_TRANSFORM_REF": "MNI152NLin2009cAsym_res-1"
    },
    "basilcalibmeasures_harvardsubcort":
    {
      "ANALYSIS_LEVEL": "participant",
      "PROCESSING_ENVIRONMENT": "slurm", 
      "PIPELINE_CLASS": "volmeasures_panpipeline",
      "PIPELINE_THREADS": "1",
      "DEPENDENCY": "basil_voxelcalib",
      "ATLAS_NAME": "harvardsubcort",
      "ATLAS_FILE": "<PROC_DIR>/atlas/HARVSUBCORT/MNI152NLinAsym/HarvardOxford-sub-maxprob-thr25-1mm.nii.gz",
      "ATLAS_INDEX": "<PROC_DIR>/atlas/HARVSUBCORT/HarvardOxford-Subcortical_index.txt",
      "ATLAS_TRANSFORM_MAT": ["from-MNI152NLin6Asym_to-MNI152NLin2009cAsym_res-1"],
      "ATLAS_TRANSFORM_REF": "MNI152NLin2009cAsym_res-1",
      "MEASURES_TEMPLATE": "<PIPELINE_DIR>/<DEPENDENCY>/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/basil_voxelcalib_wf/basil_node/basiloutput/std_space/*calib*.nii.gz",
      "MEASURES_TRANSFORM_MAT": ["from-MNI152NLin6Asym_to-MNI152NLin2009cAsym_res-1"],
      "MEASURES_TRANSFORM_REF": "MNI152NLin2009cAsym_res-1"
    },
    "basilcalibmeasures_hcpmmp1aseg_newatlas":
    {
      "ANALYSIS_LEVEL": "participant",
      "PROCESSING_ENVIRONMENT": "slurm", 
      "PIPELINE_CLASS": "volmeasures_panpipeline",
      "PIPELINE_THREADS": "1",
      "ATLAS_DIR": "<PROC_DIR>/atlas/HCPMMP1_FREESURFER",
      "FREESURFER_DIR": "<PIPELINE_DIR>/freesurfer_panpipeline/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/freesurfer_panpipeline_wf/freesurfer_node/subjects_dir",
      "FREEBASH_SCRIPT": "<PROC_DIR>/config/freebash.sh",
      "DEPENDENCY": ["basil_voxelcalib", "freesurfer_panpipeline","fmriprep_panpipeline"],
      "ATLAS_NAME": "hcmpmmp1aseg_space-MNI152NLin2009cAsym",
      "NEWATLAS_TEMPLATE": ["hcpmmp1aseg"],
      "NEWATLAS_INDEX": ["hcpmmp1aseg"],
      "NEWATLAS_TRANSFORM_MAT": ["<PIPELINE_DIR>/fmriprep_panpipeline/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/fmriprep_panpipeline_wf/fmriprep_node/fmrioutput/fmriprep/sub-<PARTICIPANT_LABEL>/ses-SESSION001/anat/sub-<PARTICIPANT_LABEL>_ses-SESSION001_rec-defaced_from-T1w_to-MNI152NLin2009cAsym_mode-image_xfm.h5"],
      "NEWATLAS_TRANSFORM_REF": "MNI152NLin2009cAsym_res-1",
      "MEASURES_TEMPLATE": "<PIPELINE_DIR>/basil_voxelcalib/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/basil_voxelcalib_wf/basil_node/basiloutput/std_space/*calib*.nii.gz",
      "MEASURES_TRANSFORM_MAT": ["from-MNI152NLin6Asym_to-MNI152NLin2009cAsym_res-1"],
      "MEASURES_TRANSFORM_REF": "MNI152NLin2009cAsym_res-1"
    },
    "aslprep_panpipeline":
    {
      "ANALYSIS_LEVEL": "participant",
      "PROCESSING_ENVIRONMENT": "slurm", 
      "ASLPREP_CONTAINER": "/xdisk/nkchen/chidiugonna/panxnat_pipelines/singimages/aslprep_unstable.sif"
    },
    "collatecsv_panpipeline":
    {
      "ANALYSIS_LEVEL": "participant",
      "PROCESSING_ENVIRONMENT": "slurm", 
      "PIPELINE_CLASS": "collatecsv_panpipeline",
      "DEPENDENCY": ["tensormeasures_xtract", "noddimeasures_xtract"],
      "PIPELINE_THREADS": "1",
      "COLLATE_NAME": "noddi_tensor_freesurfer",
      "MEASURES_TEMPLATE1": ["<PIPELINE_DIR>/textmeasures_freesurfer/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/textmeasures_freesurfer_wf/subject_text_map/mapflow/*/<PARTICIPANT_LABEL>_roi_output_dir/*.csv","<PIPELINE_DIR>/tensormeasures_xtract/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/tensormeasures_xtract_wf/subject_metrics_map/mapflow/*/<PARTICIPANT_LABEL>_roi_output_dir/*.csv"],
      "MEASURES_TEMPLATE2": "<PIPELINE_DIR>/noddimeasures_xtract/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/noddimeasures_xtract_wf/subject_metrics_map/mapflow/*/<PARTICIPANT_LABEL>_roi_output_dir/*.csv"
    },
    "collatecsv_addbasil":
    {
      "ANALYSIS_LEVEL": "participant",
      "PROCESSING_ENVIRONMENT": "local", 
      "PIPELINE_CLASS": "collatecsv_panpipeline",
      "DEPENDENCY": ["tensormeasures_xtract", "noddimeasures_xtract","collatecsv_panpipeline","basilcalibmeasures_hcpmmp1aseg_newatlas"],
      "REFERENCE_DIR": "<PIPELINE_DIR>",
      "PIPELINE_THREADS": "1",
      "COLLATE_NAME": "noddi_tensor_freesurfer_basil",
      "MEASURES_TEMPLATE1": ["<REFERENCE_DIR>/basilcalibmeasures_*/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/basilcalibmeasures_*/subject_metrics_map/mapflow/*/<PARTICIPANT_LABEL>_roi_output_dir/*.csv"],
      "MEASURES_TEMPLATE2": "<REFERENCE_DIR>/collatecsv_panpipeline/<PARTICIPANT_XNAT_PROJECT>/sub-<PARTICIPANT_LABEL>/collatecsv_panpipeline_wf/collate_csv_single_node/<PARTICIPANT_LABEL>_roi_output_dir/*.csv"
    }
 
}
